<ion-header>
  <ion-toolbar>
    <ion-title>
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" color="secondary" (click)='getFollowing()' >Show followings</ion-button>

  <ion-list  >
    <ion-card  *ngFor="let user of users "> 
      <ion-card-header>     

          {{user.username }}

      </ion-card-header>     

      <ion-card-content>     
    <p>
      {{user.fullname }}
    </p>
    <p>
      {{user.mail}} / {{user.phone}}
    </p>
    <ion-button expand="block" (click)='follow(user.username)' >Follow</ion-button>

    
  </ion-card-content>

    </ion-card>
  </ion-list>
</ion-content>
