<ion-header>
  <ion-toolbar>
    <ion-title>
      Authentification
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="getUser()">
    <ion-item>
      <ion-label>userid</ion-label>
      <ion-input type="text" [(ngModel)]="user.id" name="userid"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" block>Log In</ion-button>
    </form>
</ion-content>
